<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Todoister - Register</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css" />
		<link rel="stylesheet" href="../../assets/css/style.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="screen">
				<div class="screen__content">
					<form class="login" action="" method="post" style="padding-top: 100px">
						<div class="login__field">
							<i class="login__icon fas fa-user"></i>
							<input type="text" name="name" id="name" class="login__input" placeholder="Name" />
						</div>
						<div class="login__field">
							<i class="login__icon fas fa-envelope"></i>
							<input type="text" name="email" id="email" class="login__input" placeholder="Email" />
						</div>
						<div class="login__field">
							<i class="login__icon fas fa-lock"></i>
							<input
								type="password"
								name="password"
								id="password"
								class="login__input"
								placeholder="Password"
							/>
						</div>
						<div class="login__field error-show"></div>
						<button class="button login__submit" type="button">
							<span class="button__text">Signup</span>
							<i class="button__icon fas fa-chevron-right"></i>
						</button>
					</form>
					<div class="social-login" style="left: 43px">
						<a href="/user/login" class="social-login__icon"><span>Signin</span></a>
					</div>
					<div class="social-login">
						<h3>Signup in via</h3>
						<div class="social-icons">
							<a href="#" class="social-login__icon fab fa-google"></a>
							<a href="#" class="social-login__icon fab fa-facebook"></a>
						</div>
					</div>
				</div>
				<div class="screen__background">
					<span class="screen__background__shape screen__background__shape4"></span>
					<span class="screen__background__shape screen__background__shape3"></span>
					<span class="screen__background__shape screen__background__shape2"></span>
					<span class="screen__background__shape screen__background__shape1"></span>
				</div>
			</div>
		</div>
		<script>
			$(document).ready(function () {

				let appOrigin = window.location.origin;
				$('.login__submit').on('click', function () {
					var data = {
						name: $('#name').val(),
						email: $('#email').val(),
						password: $('#password').val(),
					};

					$.ajax({
						type: 'POST',
						url: appOrigin+'/user/register',
						data: JSON.stringify(data),
						contentType: 'application/json; charset=utf-8',
						success: function (res) {
							console.log(res);
							$('.error-show').html(res.message);
						},
						errorf: function (err) {
							$('.error-show').html(err);
						},
						statusCode: {
							400: function (e) {
								$('.error-show').html(e.responseText);
							},
						},
					});
				});
			});
		</script>
	</body>
</html>
